.section.half
  %h3 Classes
  - unless resource.node_class_list.empty?
    %table.inspector
      %thead
        %tr
          %th.key Name
      %tbody
        - resource.node_class_list.each do |node_class,parents|
          %tr
            %td.key
              %strong= link_to(node_class.name,node_class)
              = " via #{parents.map{|p| link_to(p.name,p)}.to_sentence}" unless parents.include?(resource)
  - else
    &mdash; No classes &mdash;
