.section
  %h3 Parameters
  - # Conflicting parameters are okay here, since we just want to warn
  - unless resource.compiled_parameters(true).empty?
    - if resource.errors.on(:parameters)
      %p.error
        %strong Warning:
        The following parameters have multiple conflicting values:
        = [*resource.errors.on(:parameters)].join(", ")
    %table.inspector
      %thead
        %tr
          %th Key
          %th Value
          %th Source groups
      %tbody
        - resource.compiled_parameters(true).each do |key,value_sources_pair|
          - value,sources = value_sources_pair
          %tr
            %td{:style => ("background-color: pink;" if sources.size > 1)}
              %tt= key
            %td
              %tt= value
            %td
              = sources.map{|source| link_to(source.name,node_group_path(source.id))}.join(", ") unless sources == Set[resource]
  - else
    &mdash; no parameters &mdash;
